<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag "people-14.jpg", class: "simple_technique" %>
      <%#= image_tag "people-14.jpg", class: "img-responsive" %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatem dignissimos nulla veniam enim qui soluta, optio, numquam cupiditate harum eaque minus tenetur eos. Fuga error nisi alias at, aliquam. ipsum dolor sit amet, consectetur adipisicing elit. Eius, repudiandae officia et. Natus deleniti fugit corporis, ipsa quibusdam, facere culpa delectus optio, esse quisquam quod. Quia consectetur optio perspiciatis necessitatibus. ipsum dolor sit amet, consectetur adipisicing elit. Labore officiis distinctio quam molestiae at quaerat ducimus, nemo odio obcaecati perspiciatis! Facere soluta facilis perspiciatis deserunt dolor fugiat rerum dolorem, in. ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis reprehenderit laborum numquam. Esse nisi odio accusamus voluptatibus facilis porro, quam est, laudantium ad, magni dignissimos quo. Aliquid illo, a nihil. ipsum dolor sit amet, consectetur adipisicing elit. Ab possimus quae numquam commodi optio distinctio pariatur ducimus doloribus architecto quas, veniam tempore nam, eligendi fuga? Asperiores tempora veniam laborum aut. ipsum dolor sit amet, consectetur adipisicing elit. Sunt optio necessitatibus sit iste, reprehenderit consectetur deleniti harum aperiam a tenetur id quo natus voluptates labore praesentium dolor magnam veritatis blanditiis!</p>
    </div>
  </div>
</div>
